<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Universally Shared Psychosis. A roleplaying game by Reiver Solutions">
    <meta name="author" content="Reiver Solutions">
    <title>@ViewBag.Title - USP</title>

    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    @Styles.Render("~/content/css")

    @Scripts.Render("~/scripts/modernizr")

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" ></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" ></script>
    <![endif]-->
</head>
<body id="page-top" class="index">
    @Html.Partial("_header")

    @RenderBody()

    @Html.Partial("_footer")

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>